@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    #quiz-screen .main-content {
        order: 1;
        margin-bottom: 20px;
    }

    #quiz-screen .sidebar {
        order: 2;
    }

    .index-box {
    margin-bottom: 10px;
    height: 320px !important;
    flex: none !important;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-content {
        width: 100%;
    }

    .index-grid {
        grid-template-columns: repeat(5, 1fr) !important;
        gap: 10px !important;
    }

    .index-item {
    padding: 12px 0 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}

    .navigation-buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .nav-right {
        display: flex;
        width: 85%;
        max-width: 300px;
        gap: 10px;
        justify-content: center;
    }

    .nav-right .btn {
        flex: 1;
        text-align: center;
    }

    .btn-warning {
        width: auto;
        padding: 10px 20px;
        text-align: center;
    }
    
    #question-index {
    height: auto !important;
    flex: 1 !important;
    max-height: none !important;
    min-height: unset !important;
    }
}
